@model MyFitness.Models.AppViewModels.HomeIndexViewModel

<div class="Profile">
    <div class="HomeHead">
        <form class="ChangeProfileImg" asp-controller="Home" asp-action="ChangeProfileImage" enctype="multipart/form-data">
            <label for="ChangePImageInput">
                <input id="ChangePImageInput" name="ProfileImg" class="ChangePImageInput hidden" type="file" />
                <img class="ProfileImg" src="@Model.CurrentUser.ProfileImg" />
            </label>
        </form>
        <h2 class="UserName">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h2>
        <h5>@Model.CurrentUser.UserName</h5>
    </div>
        <div class="HomeNav">
            <div class="NavItem">
                <p class="NavValue">@Model.CurrentUser.Age</p>
                <p class="NavLabel">Age</p>
            </div>

            <div class="NavItem">
                <p class="NavValue">@Model.CurrentUser.Gender</p>
                <p class="NavLabel">Gender</p>
            </div>

            <div class="NavItem">
                <p class="NavValue">@Model.CurrentUser.HeightFeet feet @Model.CurrentUser.HeightInches inches</p>
                <p class="NavLabel">Height</p>
            </div>

            <div class="NavItem">
                <p class="NavValue">@Model.CurrentUser.CurrentWeight</p>
                <p class="NavLabel">Current Weight</p>
            </div>

            <div class="NavItem">
                <p class="NavValue">@Model.CurrentUser.GoalWeight</p>
                <p class="NavLabel">Goal Weight</p>
            </div>
    </div>

    <div class="HomeBody">

        <div class="AddFoodModal">
            @{Html.RenderPartial("FoodModal");}
        </div>

        <div class="AddExerciseModal">
            @{Html.RenderPartial("ExerciseModal");}
        </div>

        <div class="HomeBodyHead">
            <h3 class="Today">Today - @Model.Today</h3>
            <div class="AddEmblems">
                <span class="AddFood">Add food</span>
                <span class="AddWorkout">Add a workout</span>
            </div>
            <h4>Calories Remaining: @Model.TodayNutrition.TotalCaloriesRemaining</h4>
        </div>
        <div class="HomeBodyBody">
            <table class="NutritionTable table-condensed table-inverse">
                <thead>
                    <tr class="row">
                        <th>Food Name</th>
                        <th>Calories</th>
                        <th>Fat</th>
                        <th>Protein</th>
                        <th>Carbs</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TodayNutrition.DailyFoods != null)
                    {
                        @foreach (var foods in Model.TodayNutrition.DailyFoods)
                        {
                            <tr class="row Hoverable" id="@foods.FoodId">
                                <th>@foods.FoodName</th>
                                <td>@foods.Calories</td>
                                <td>@foods.FoodFat</td>
                                <td>@foods.FoodProtein</td>
                                <td>@foods.FoodCarbs</td>
                            </tr>
                        }
                    }
                    <tr class="row">
                        <th>Total: </th>
                        <td>@Model.CalorieTotal</td>
                        <td>@Model.FatTotal</td>
                        <td>@Model.ProteinTotal</td>
                        <td>@Model.CarbTotal</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="NutritionTable table-condensed table-inverse">
                <thead>
                    <tr class="row">
                        <th>Exercise</th>
                        <th>Type</th>
                        <th>Length</th>
                        <th>Calories Burned</th>
                        <th>Distance Traveled</th>
                        <th>Weight Lifted</th>
                        <th>Sets</th>
                        <th>Reps</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TodayNutrition.DailyExercises != null)
                    {
                        @foreach (var exercise in Model.TodayNutrition.DailyExercises)
                        {
                            <tr class="row Hoverable" id="@exercise.ExerciseId">
                                <th>@exercise.Name</th>
                                <td>@exercise.ExerciseType</td>
                                <td>@exercise.ExerciseLengthInHours</td>
                                <td>@exercise.CaloriesBurned</td>
                                <td>@exercise.DistanceTraveled</td>
                                <td>@exercise.WeightLifted</td>
                                <td>@exercise.Sets</td>
                                <td>@exercise.Reps</td>
                            </tr>
                        }
                    }
                    <tr class="row">
                        <th>Total: </th>
                        <td>@Model.ExerciseTypeTotal</td>
                        <td>@Model.ExerciseLengthInHoursTotal</td>
                        <td>@Model.CaloriesBurnedTotal</td>
                        <td>@Model.DistanceTraveledTotal</td>
                        <td>@Model.WeightLiftedTotal</td>
                        <td>@Model.SetsTotal</td>
                        <td>@Model.RepsTotal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>