@model MyFitness.Models.AppViewModels.HomeIndexViewModel

<div class="Profile">
    <div class="HomeHead">
        <form class="ChangeProfileImg" asp-controller="Home" asp-action="ChangeProfileImage" enctype="multipart/form-data">
            <label for="ChangePImageInput" class="ChangeImageLabel">
                <input id="ChangePImageInput" name="ProfileImg" class="ChangePImageInput hidden" type="file" />
                <img class="ProfileImg" src="@Model.CurrentUser.ProfileImg" />
            </label>
        </form>
        
        <div class="HomeHeadUserInformation">
            <h2 class="UserName">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h2>
            <h5>@Model.CurrentUser.UserName</h5>
        </div>

        <div class="HomeNav">
            <p class="ProfileHeader">@Model.CurrentUser.FirstName's Information: </p>
            <div class="NavItem Editable">
                <span class="NavLabel">Age: </span><br /><br />
                <span class="NavValue">@Model.CurrentUser.Age</span>
            </div>

            <div class="NavItem">
                <span class="NavLabel">Gender: </span><br /><br />
                <span class="NavValue">@Model.CurrentUser.Gender</span>
            </div>

            <div class="NavItem Editable Height">
                <span class="NavLabel">Height: </span><br /><br />
                <span class="NavValue">@Model.CurrentUser.HeightFeet ft. @Model.CurrentUser.HeightInches in.</span>
            </div>

            <div class="NavItem Editable">
                <span class="NavLabel">Current Weight: </span><br />
                <span class="NavValue">@Model.CurrentUser.CurrentWeight</span>
            </div>

            <p class="ProfileHeader">Weight Lost: </p>

            <div class="NavItem">
                <span class="NavLabel special">Total Weight Lost: </span><br />
                <strong class="NavValue">@Model.CurrentUser.TotalWeightLost</strong>
            </div>

            <div class="NavItem">
                <span class="NavLabel special">Yearly Weight Lost: </span><br />
                <strong class="NavValue">@Model.CurrentUser.YearlyWeightLost</strong>
            </div>

            <div class="NavItem">
                <span class="NavLabel special">Monthly Weight Lost: </span><br />
                <strong class="NavValue">@Model.CurrentUser.MonthlyWeightLost</strong>
            </div>

            <div class="NavItem">
                <span class="NavLabel special">Weekly Weight Lost: </span><br />
                <strong class="NavValue">@Model.CurrentUser.WeeklyWeightLost</strong>
            </div>

            <div class="NavItem">
                <span class="NavLabel special">Daily Weight Lost: </span><br />
                <strong class="NavValue">@Model.CurrentUser.WeightLostToday</strong>
            </div>

            <div class="NavItem Editable">
                <span class="NavLabel special">Goal Weight: </span><br /><br />
                <strong class="NavValue">@Model.CurrentUser.GoalWeight</strong>
            </div>
        </div>
    </div>

    <div class="HomeBody">

        <div class="AddFoodModal">
            @{Html.RenderPartial("FoodModal");}
        </div>

        <div class="AddExerciseModal">
            @{Html.RenderPartial("ExerciseModal");}
        </div>

        <div class="EditItem">
            @{Html.RenderPartial("EditItemModal");}
        </div>

        <div class="HomeBodyHead">
            <h3 class="Today">Today - @Model.Today</h3>
            <div class="AddEmblems">
                <span class="AddFood">Add food</span>
                <span class="AddWorkout">Add a workout</span>
            </div>
            <h4>Calories Remaining: @Model.TodayNutrition.TotalCaloriesRemaining</h4>
        </div>
        <div class="HomeBodyBody">
            <div class="tables">
                <table class="NutritionTable table-condensed table-inverse">
                    <thead>
                        <tr class="row">
                            <th>Food Name</th>
                            <th>Calories</th>
                            <th>Fat</th>
                            <th>Protein</th>
                            <th>Carbs</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TodayNutrition.DailyFoods != null)
                        {
                            @foreach (var foods in Model.TodayNutrition.DailyFoods)
                            {
                                <tr class="row Hoverable" id="@foods.FoodId">
                                    <th>@foods.FoodName</th>
                                    <td>@foods.Calories</td>
                                    <td>@foods.FoodFat</td>
                                    <td>@foods.FoodProtein</td>
                                    <td>@foods.FoodCarbs</td>
                                </tr>
                            }
                        }
                        <tr class="row">
                            <th>Total: </th>
                            <td>@Model.CalorieTotal</td>
                            <td>@Model.FatTotal</td>
                            <td>@Model.ProteinTotal</td>
                            <td>@Model.CarbTotal</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table class="NutritionTable table-condensed table-inverse">
                    <thead>
                        <tr class="row">
                            <th>Exercise</th>
                            <th>Type</th>
                            <th>Time (Hours)</th>
                            <th>Calories Burned</th>
                            <th>Miles Traveled</th>
                            <th>Weight Lifted</th>
                            <th>Sets</th>
                            <th>Reps</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TodayNutrition.DailyExercises.Count > 0)
                        {
                            @foreach (var exercise in Model.TodayNutrition.DailyExercises)
                            {
                                <tr class="row Hoverable" id="@exercise.ExerciseId">
                                    <th>@exercise.Name</th>
                                    <td>@exercise.ExerciseType</td>
                                    <td>@exercise.ExerciseLengthInHours</td>
                                    <td>@exercise.CaloriesBurned</td>
                                    <td>@exercise.DistanceTraveled</td>
                                    <td>@exercise.WeightLifted</td>
                                    <td>@exercise.Sets</td>
                                    <td>@exercise.Reps</td>
                                </tr>
                            }
                        }

                        <tr class="row">
                            <th>Total: </th>
                            <td>@Model.ExerciseTypeTotal</td>
                            <td>@Model.ExerciseLengthInHoursTotal</td>
                            <td>@Model.CaloriesBurnedTotal</td>
                            <td>@Model.DistanceTraveledTotal</td>
                            <td>@Model.WeightLiftedTotal</td>
                            <td>@Model.SetsTotal</td>
                            <td>@Model.RepsTotal</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="PieChartContainer">
                <canvas id="FirstPieChart" class="FirstPieChart"></canvas>
            </div>

            <div class="BarChartContainer">
                <canvas id="FirstBarChart" class="FirstBarChart"></canvas>
            </div>

            <div class="LineChartContainer">
                <canvas id="FirstLineChart" class="FirstLineChart"></canvas>
            </div>

            <div class="PolarChartContainer">
                <canvas id="FirstPolarChart" class="FirstPolarChart"></canvas>
            </div>

            <div class="PieChart2Container">
                <canvas id="PieChart2" class="PieChart2"></canvas>
            </div>

        </div>
    </div>

    <div class="ProfileBody2">

    </div>
</div>